.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  padding: 10px 20px;
  border-right: 1px solid grey;
  background-color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px 8px;
}

td:nth-child(2) {
  font-family: monospace;
}
